h1 {
    margin-top: 5px;
    margin-bottom: 8px;
}

.topbar {
    text-align: center;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    z-index: 100;
    background-color: white;
    padding-bottom: 5px;
}

.todo{
    display: flex;
    justify-content: space-between;
    border: solid;
    padding: 5px;
    background-color: rosybrown;
    margin-bottom: 3px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.fxn_buttons {
    display: flex;
    gap: 6px;
    margin-right: 1vw;
    flex-shrink: 0;
}

.fxn_buttons button {
    background-color:aqua;
}


.completed {
  background-color: #90EE90;
  text-decoration: line-through;
}

